@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- HEADER --- */

header nav {
    background-color: black;
}

/* --- MAIN --- */
/* --- Primera seccion - Hero (a Nosotros) --- */
.hero {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sections {
    height: calc(100vh - 114px);
}

.hero h2 {
    font-size: 80px;
    font-weight: 800;
    padding: 15px 20px 15px 20px;
    border: 15px white double;
}

.hero p {
    font-size: 35px;
    padding-left: 100px;
    padding-right: 100px;
}

.boton {
    background-color: black;
    color: white;
    border: 1px white solid;
    padding: 10px 25px 10px 25px;
}

/* --- Segunda seccion - Servicios y Proyectos ---*/
.serv-proy {
    background-color: #676765e9;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.serv-proy div {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.serv-proy div h2 {
    padding: 15px;
}

.serv-proy div h3 {
    padding-bottom: 20px;
}

.serv-proy div img {
    width: 100%;
    height: 400px;
}

/* Experiencia */
.experiencia {
    background-color: rgb(194, 194, 194);
    padding: 15px;
}

.experiencia div div img {
    width: 100%;
    height: 300px;
}

.experiencia div div p {
    margin: 20px;
}

/*---TALENTOS---*/


.talentos h2 {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.talentos .perfiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.talentos .perfiles div {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    background-color: black;
    text-align: center;
    color: white;
    margin: 20px;

    box-shadow: 7px 5px 23px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 7px 5px 23px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 7px 5px 23px 0px rgba(0, 0, 0, 0.7);
}

.talentos .perfiles div h3 {
    padding: 10px;
    font-size: 20px;
}

.talentos .perfiles div h4 {
    font-size: 15px;
    font-weight: 200;

}

.talentos .perfiles div img {
    width: 250px;
    height: 200px;
}

/*--- BOTON FIJO WHATSAPP ---*/
.whatsapp {
    position: fixed;
    bottom: 80px;
    right: 40px;
}

.whatsapp img {
    width: 50px;
    height: 50px;
}

/* --- FOOTER --- */

.footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.footer div h2 {
    font-size: 15px;
    font-weight: 200;
}

.footer div div a {
    color: white;
    font-size: 20px;
    padding: 8px;
}