/* --- FOOTER --- */

.footer {
    background-color: $color-terciario;
    color: $color-secundario;
    padding: 10px;
    div{
        div{
            h2{
                font-size: 15px;
                font-weight: 200;
            }
            a{
                color: $color-secundario;
                font-size: 20px;
                padding: 8px; 
            }
        }
    }
}
