/* --- FOOTER --- */

.footer {
    background-color: #202020;
    color: white;
    padding: 10px;
    div{
        div{
            h2{
                font-size: 15px;
                font-weight: 200;
            }
            a{
                color: white;
                font-size: 20px;
                padding: 8px; 
            }
        }
    }
}
