@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- HERO ---*/
.sections{
    height: calc(100vh - 114px);
}
.boton {
    background-color: black;
    color: white;
    border: 2px white solid;
    border-radius: 2%;
    padding: 10px 25px 10px 25px;
    &:hover{
        background-color: gray;
        color: white;
    }
}