$color-primario: black;
$color-secundario: white;
$color-terciario: #202020;

//* LISTAS
$paleta-colores: 
#676765e9,
gray,
rgb(194, 194, 194),
red,
green,
blue,
pink,
tomato;


$font-size:
16px,
20px,
24px,
36px,
48px,
80px;

//* OPERACIONES

$alto-header: 56px;

// MAPAS
$boton:(
    bg-color: black,
    color: white,
    border: 2px solid white,
    border-radius: 2%,
);


//* EXTENDS
//para optimizar 
%flex-spa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//MIXINS
@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}


//CONDICIONALES
//* OPERADORES DE COMPARACION
// == SON IGUALES
// != ES DIFERENTE
// > MAYOR QUE
// < MENOR QUE
// >= MAYOR O IGUAL
// <= MENOR O IGUAL

// if (condicional){
//     se ejecuta este codigo
// }else{
//     sino, se ejecuta esto
// }
///lo frabajamos con mixin

@mixin modos ($modo){
    @if $modo == black{
        border: solid 2px blueviolet;
    }
    @else{
        border: solid 2px turquoise;
    }
}

